<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="DllName" value="Onebin.WebApp.dll"></add>
    <add key="OutputName" value="2)Permission.sql"></add>
    <add key="DllPath" value="D:\Git\OnebinMVC\SourceCode\Onebin.WebApp\bin"></add>
    <add key="OutputPath" value="D:\Git\OnebinMVC\DatabaseDesign\MySQL\Script"></add>
    <add key="DbType" value="MySQL"></add>
  </appSettings>

</configuration>
